BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
SpacesBeforeTrailingComments: 1
AllowShortFunctionsOnASingleLine: Inline